<!DOCTYPE html>
{% extends "layout.html" %}
{% load socialaccount %}

{% block title %}
    Login an account
{% endblock title %}

{% block styles %}
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <h1>Kurum Giriş</h1>
        <form action="/users/login/" method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_email">Email:</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="id_password">Şifre:</label>
                {{ form.password }}
            </div>

            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <button type="submit">Giriş Yap</button>

             <!-- Google Login Button -->
             <a href="{% provider_login_url 'google' %}?next=/" class="google-login-button">
                <img src="{% static 'css/google.png' %}" alt="Google Logo" class="google-logo">
                Google ile Devam Et
            </a>

            <p class="credit">
                <a href="https://www.flaticon.com/free-icons/google" title="google icons" target="_blank">
                    
                </a>
            </p>

        </form>

    </div>
</div>
{% endblock content %}
